[submodule "test/e2e/lib/bats"]
	path = test/e2e/lib/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/e2e/lib/bats-support"]
	path = test/e2e/lib/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/e2e/lib/bats-assert"]
	path = test/e2e/lib/bats-assert
	url = https://github.com/bats-core/bats-assert.git
