ws_method_whitelist = [
  "eth_subscribe",
  "eth_call",
  "eth_chainId"
]
ws_backend_group = "replica"

[server]
rpc_host = "0.0.0.0"
rpc_port = {{ .Ports.rpc }}
ws_host = "0.0.0.0"
ws_port = {{ .Ports.ws }}

{{- if .Metrics.enabled }}
[metrics]
enabled = true
host = "0.0.0.0"
port = {{ .Metrics.port }}
{{- end }}

[backends]
{{- range $key, $value := .Replicas }}
[backends.{{ $key }}]
rpc_url = "{{ $value }}"
ws_url = "ws://dummy"
{{- end }}

[backend_groups]
[backend_groups.replica]
backends = [{{ range $key, $value := .Replicas }}"{{ $key }}",{{ end }}]

[rpc_method_mappings]
eth_getProof = "replica"
eth_gasPrice = "replica"
eth_sendRawTransaction = "replica"
eth_chainId = "replica"
eth_blockNumber = "replica"
net_version = "replica"
eth_getBlockByHash = "replica"
eth_getBlockByNumber = "replica"
eth_getUncleByBlockHashAndIndex = "replica"
eth_getTransactionByHash = "replica"
eth_getBlockTransactionCountByHash = "replica"
eth_getTransactionByBlockHashAndIndex = "replica"
eth_getTransactionReceipt = "replica"
eth_maxPriorityFeePerGas = "replica"
eth_feeHistory = "replica"
eth_syncing = "replica"
eth_getLogs = "replica"
eth_getBalance = "replica"
eth_getStorageAt = "replica"
eth_getCode = "replica"
eth_getTransactionCount = "replica"
eth_getBlockTransactionCountByNumber  = "replica"
eth_call = "replica"
eth_estimateGas = "replica"
debug_traceTransaction = "replica"
debug_traceBlockByNumber = "replica"
debug_traceBlockByHash = "replica"
debug_storageRangeAt = "replica"
rollup_getInfo = "replica"
eth_getBlockRange = "replica"
web3_clientVersion = "replica"
eth_accounts = "replica"
debug_dbGet = "replica"
