server:
  http_listen_port: {{ .Ports.http }}
  grpc_listen_port: {{ .Ports.grpc }}

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ .LokiURL }}/loki/api/v1/push

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      __path__: /var/log/*log
